{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Virtual bar{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  body {
    user-select: none;
    background: var(--bg-dark-blue);
  }

  #virtualBar {
    width: calc(100% - 32px);
  }

  #text {
    width: 10ch;
    padding: 0 4px;
    border: 1px white;
    border-style: solid solid none;
    background: black;
    font: 32px monospace;
    text-transform: uppercase;
    overflow: hidden;
  }

  #pixBox {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    user-select: none;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}


<div class="container"></div>
<canvas id='thumbs' style="height:900px; width:969px"></canvas>

<!-- <div class="container"></div>
<canvas id='abcd' style="height:900px; width:969px"></canvas> -->


{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  
  var mychart = document.getElementById('thumbs').getContext("2d");
 
  var thumbsChart = new Chart(mychart, {
    type: 'doughnut',
    data: {
      labels: ["Up", "Wiggle", "Down", "None"],
      datasets: [{
        backgroundColor: [
          "#00ff00",
          "#00ffff",
          "#ff0000",
          "#FFFFFF"],
        data: [0, 0, 0, 0]
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          labels: {
            font: {
              size: 50
            },
            color: 'white'
          }


        }
      }
    }
  });  
  
  let pixRes;

  function update() {
    // Update the virtual bar
    let pixRequest = new XMLHttpRequest();
    pixRequest.open("GET", '/api/students');
    pixRequest.onload = () => {
      pixRes = JSON.parse(pixRequest.responseText);

      var up = 0
      var wiggle = 0
      var down = 0
      var none = 0

      
      for (const key of Object.keys(pixRes)) {
        console.log(pixRes[key].thumb);
        if (pixRes[key].thumb == "up") {
          up++
          console.log('found up');
        }
      
        if (pixRes[key].thumb == "wiggle") {
          wiggle++
          console.log('found wiggle');
        }
        
        if (pixRes[key].thumb == "down") {
          down++
          console.log('found down');
        }
        if (pixRes[key].thumb == "") {
          none++
          console.log('found none');
        }
        
      }
      if (up >= 1 && down == 0 && wiggle == 0 && none == 0){
        thumbsChart.data.labels = ['MAX GAMER']
        thumbsChart.data.datasets[0].backgroundColor = ['#BF40BF']
        thumbsChart.data.datasets[0].data = [up];
        thumbsChart.update();
      } else {
        thumbsChart.data.labels = ["Up", "Wiggle", "Down", "Not Submitted"]
        thumbsChart.data.datasets[0].backgroundColor = ["#00ff00","#00ffff","#ff0000", "#FFFFFF"]
        thumbsChart.data.datasets[0].data = [up, wiggle, down, none];
        thumbsChart.update();
      }
    }
  pixRequest.send(null);
  }


    // When the page needs to refresh, send a signal to chat which will then refresh everyone's page
    chatSocket.on("sessionUpdate", message => {
      console.log(message);
      location.reload();
    });


  update();
  setInterval(update, 1000);
</script>
{% endblock %}

